@import '../../../theme/common';

.--default-padding {
  @include card-padding;
}

.--default-radius {
  border-radius: $card-border-radius;
}

.--var-inset {
  border-radius: 2px;
  @include theme-light {
    border: $card-inset-border-width solid rgba(0, 0, 0, 0.06);
  }
  :global(.theme--dark) & {
    background-color: $col-bg-dark-lt1;
  }
}

.--var-card {
  &:not(.--var-high-contrast) {
    @include card-style(2);
  }
  &.--var-high-contrast {
    @include card-style(2, 2);
  }

  &.--level-2 {
    :global(.theme--dark) & {
      background-color: $col-bg-dark-lt2;
    }
  }
}
