.grid {
  &:not(.dont-hide-content) {
    overflow-x: hidden;
  }
  $gutter-width: $pad-2;

  > ._inner {
    margin-left: -#{$gutter-width};
    display: flex;
    flex-wrap: wrap;
  }

  &,
  & > ._inner {
    > * {
      box-sizing: border-box;
      margin-left: $gutter-width;
      flex-grow: 0;
    }

    > ._cols-12 {
      width: 100%;
      max-width: 100%;
    }
    > ._cols-11 {
      width: calc(91.6667% - #{$gutter-width});
      max-width: calc(91.6667% - #{$gutter-width});
    }
    > ._cols-10 {
      width: calc(83.3333% - #{$gutter-width});
      max-width: calc(83.3333% - #{$gutter-width});
    }
    > ._cols-9 {
      width: calc(75% - #{$gutter-width});
      max-width: calc(75% - #{$gutter-width});
    }
    > ._cols-8 {
      width: calc(66.667% - #{$gutter-width});
      max-width: calc(66.667% - #{$gutter-width});
    }
    > ._cols-7 {
      width: calc(58.3333% - #{$gutter-width});
      max-width: calc(58.3333% - #{$gutter-width});
    }
    > ._cols-6 {
      width: calc(50% - #{$gutter-width});
      max-width: calc(50% - #{$gutter-width});
    }
    > ._cols-5 {
      width: calc(41.6667% - #{$gutter-width});
      max-width: calc(41.6667% - #{$gutter-width});
    }
    > ._cols-4 {
      width: calc(33.3333% - #{$gutter-width});
      max-width: calc(33.3333% - #{$gutter-width});
    }
    > ._cols-3 {
      width: calc(25% - #{$gutter-width});
      max-width: calc(25% - #{$gutter-width});
    }
    > ._cols-2 {
      width: calc(16.6667% - #{$gutter-width});
      max-width: calc(16.6667% - #{$gutter-width});
    }
    > ._cols-1 {
      width: calc(8.3333% - #{$gutter-width});
      max-width: calc(8.3333% - #{$gutter-width});
    }
    // ** Full width
    > ._cols-mob-12 {
      @include mobile-only {
        width: 100%;
        max-width: 100%;
      }
    }
    > ._cols-tab-12 {
      @include tablet-to-tablet-large {
        width: 100%;
        max-width: 100%;
      }
    }
    > ._cols-tab-plus-12 {
      @include tablet-plus {
        width: 100%;
        max-width: 100%;
      }
    }
    > ._cols-tab-down-12 {
      @include tablet-down {
        width: 100%;
        max-width: 100%;
      }
    }
    > ._cols-dsk-plus-12 {
      @include desktop-small-plus {
        width: 100%;
        max-width: 100%;
      }
    }

    // ** Full width
    > ._cols-mob-11 {
      @include mobile-only {
        width: calc(91.6667% - #{$gutter-width});
        max-width: calc(91.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-11 {
      @include tablet-to-tablet-large {
        width: calc(91.6667% - #{$gutter-width});
        max-width: calc(91.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-11 {
      @include tablet-plus {
        width: calc(91.6667% - #{$gutter-width});
        max-width: calc(91.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-11 {
      @include tablet-down {
        width: calc(91.6667% - #{$gutter-width});
        max-width: calc(91.6667% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-11 {
      @include desktop-small-plus {
        width: calc(91.6667% - #{$gutter-width});
        max-width: calc(91.6667% - #{$gutter-width});
      }
    }

    // ** 10/12
    > ._cols-mob-10 {
      @include mobile-only {
        width: calc(83.3333% - #{$gutter-width});
        max-width: calc(83.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-10 {
      @include tablet-to-tablet-large {
        width: calc(83.3333% - #{$gutter-width});
        max-width: calc(83.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-10 {
      @include tablet-plus {
        width: calc(83.3333% - #{$gutter-width});
        max-width: calc(83.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-10 {
      @include tablet-down {
        width: calc(83.3333% - #{$gutter-width});
        max-width: calc(83.3333% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-10 {
      @include desktop-small-plus {
        width: calc(83.3333% - #{$gutter-width});
        max-width: calc(83.3333% - #{$gutter-width});
      }
    }

    // ** 9/12
    > ._cols-mob-9 {
      @include mobile-only {
        width: calc(75% - #{$gutter-width});
        max-width: calc(75% - #{$gutter-width});
      }
    }
    > ._cols-tab-9 {
      @include tablet-to-tablet-large {
        width: calc(75% - #{$gutter-width});
        max-width: calc(75% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-9 {
      @include tablet-plus {
        width: calc(75% - #{$gutter-width});
        max-width: calc(75% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-9 {
      @include tablet-down {
        width: calc(75% - #{$gutter-width});
        max-width: calc(75% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-9 {
      @include desktop-small-plus {
        width: calc(75% - #{$gutter-width});
        max-width: calc(75% - #{$gutter-width});
      }
    }

    // ** 8/12
    > ._cols-mob-8 {
      @include mobile-only {
        width: calc(66.667% - #{$gutter-width});
        max-width: calc(66.667% - #{$gutter-width});
      }
    }
    > ._cols-tab-8 {
      @include tablet-to-tablet-large {
        width: calc(66.667% - #{$gutter-width});
        max-width: calc(66.667% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-8 {
      @include tablet-plus {
        width: calc(66.667% - #{$gutter-width});
        max-width: calc(66.667% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-8 {
      @include tablet-down {
        width: calc(66.667% - #{$gutter-width});
        max-width: calc(66.667% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-8 {
      @include desktop-small-plus {
        width: calc(66.667% - #{$gutter-width});
        max-width: calc(66.667% - #{$gutter-width});
      }
    }

    // ** 7/12
    > ._cols-mob-7 {
      @include mobile-only {
        width: calc(58.3333% - #{$gutter-width});
        max-width: calc(58.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-7 {
      @include tablet-to-tablet-large {
        width: calc(58.3333% - #{$gutter-width});
        max-width: calc(58.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-7 {
      @include tablet-plus {
        width: calc(58.3333% - #{$gutter-width});
        max-width: calc(58.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-7 {
      @include tablet-down {
        width: calc(58.3333% - #{$gutter-width});
        max-width: calc(58.3333% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-7 {
      @include desktop-small-plus {
        width: calc(58.3333% - #{$gutter-width});
        max-width: calc(58.3333% - #{$gutter-width});
      }
    }

    // ** 6/12
    > ._cols-mob-6 {
      @include mobile-only {
        width: calc(50% - #{$gutter-width});
        max-width: calc(50% - #{$gutter-width});
      }
    }
    > ._cols-tab-6 {
      @include tablet-to-tablet-large {
        width: calc(50% - #{$gutter-width});
        max-width: calc(50% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-6 {
      @include tablet-plus {
        width: calc(50% - #{$gutter-width});
        max-width: calc(50% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-6 {
      @include tablet-down {
        width: calc(50% - #{$gutter-width});
        max-width: calc(50% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-6 {
      @include desktop-small-plus {
        width: calc(50% - #{$gutter-width});
        max-width: calc(50% - #{$gutter-width});
      }
    }

    // ** 5/12
    > ._cols-mob-5 {
      @include mobile-only {
        width: calc(41.6667% - #{$gutter-width});
        max-width: calc(41.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-5 {
      @include tablet-to-tablet-large {
        width: calc(41.6667% - #{$gutter-width});
        max-width: calc(41.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-5 {
      @include tablet-plus {
        width: calc(41.6667% - #{$gutter-width});
        max-width: calc(41.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-5 {
      @include tablet-down {
        width: calc(41.6667% - #{$gutter-width});
        max-width: calc(41.6667% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-5 {
      @include desktop-small-plus {
        width: calc(41.6667% - #{$gutter-width});
        max-width: calc(41.6667% - #{$gutter-width});
      }
    }

    // ** 4/12
    > ._cols-mob-4 {
      @include mobile-only {
        width: calc(33.3333% - #{$gutter-width});
        max-width: calc(33.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-4 {
      @include tablet-to-tablet-large {
        width: calc(33.3333% - #{$gutter-width});
        max-width: calc(33.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-4 {
      @include tablet-plus {
        width: calc(33.3333% - #{$gutter-width});
        max-width: calc(33.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-4 {
      @include tablet-down {
        width: calc(33.3333% - #{$gutter-width});
        max-width: calc(33.3333% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-4 {
      @include desktop-small-plus {
        width: calc(33.3333% - #{$gutter-width});
        max-width: calc(33.3333% - #{$gutter-width});
      }
    }

    // ** 3/12
    > ._cols-mob-3 {
      @include mobile-only {
        width: calc(25% - #{$gutter-width});
        max-width: calc(25% - #{$gutter-width});
      }
    }
    > ._cols-tab-3 {
      @include tablet-to-tablet-large {
        width: calc(25% - #{$gutter-width});
        max-width: calc(25% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-3 {
      @include tablet-plus {
        width: calc(25% - #{$gutter-width});
        max-width: calc(25% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-3 {
      @include tablet-down {
        width: calc(25% - #{$gutter-width});
        max-width: calc(25% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-3 {
      @include desktop-small-plus {
        width: calc(25% - #{$gutter-width});
        max-width: calc(25% - #{$gutter-width});
      }
    }

    // ** 2/12
    > ._cols-mob-2 {
      @include mobile-only {
        width: calc(16.6667% - #{$gutter-width});
        max-width: calc(16.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-2 {
      @include tablet-to-tablet-large {
        width: calc(16.6667% - #{$gutter-width});
        max-width: calc(16.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-2 {
      @include tablet-plus {
        width: calc(16.6667% - #{$gutter-width});
        max-width: calc(16.6667% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-2 {
      @include tablet-down {
        width: calc(16.6667% - #{$gutter-width});
        max-width: calc(16.6667% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-2 {
      @include desktop-small-plus {
        width: calc(16.6667% - #{$gutter-width});
        max-width: calc(16.6667% - #{$gutter-width});
      }
    }

    // ** 1/11
    > ._cols-mob-1 {
      @include mobile-only {
        width: calc(8.3333% - #{$gutter-width});
        max-width: calc(8.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-1 {
      @include tablet-to-tablet-large {
        width: calc(8.3333% - #{$gutter-width});
        max-width: calc(8.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-plus-1 {
      @include tablet-plus {
        width: calc(8.3333% - #{$gutter-width});
        max-width: calc(8.3333% - #{$gutter-width});
      }
    }
    > ._cols-tab-down-1 {
      @include tablet-down {
        width: calc(8.3333% - #{$gutter-width});
        max-width: calc(8.3333% - #{$gutter-width});
      }
    }
    > ._cols-dsk-plus-1 {
      @include desktop-small-plus {
        width: calc(8.3333% - #{$gutter-width});
        max-width: calc(8.3333% - #{$gutter-width});
      }
    }
  }
}
