.hide {
  display: none;
}
.hide-mob {
  @include mobile-only {
    display: none;
  }
}
.hide-tab {
  @include tablet-to-tablet-large {
    display: none;
  }
}
.hide-tab-sml {
  @include tablet-only {
    display: none;
  }
}
.hide-tab-plus {
  @include tablet-plus {
    display: none;
  }
}
.hide-tab-down {
  @include tablet-down {
    display: none;
  }
}
.hide-dsk-plus {
  @include desktop-small-plus {
    display: none;
  }
}
.hide-dsk-sml-down {
  @include desktop-small-down {
    display: none;
  }
}

.inline-block {
  display: inline-block;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.reset-align {
  text-align: initial;
}

ul.text-list {
  list-style: disc;
  margin-left: $pad-2;
}

.m {
  margin: $pad;
}
.m--1 {
  margin: -$pad;
}
.m-2 {
  margin: $pad-2;
}
.m--2 {
  margin: -$pad-2;
}
.m-3 {
  margin: $pad-3;
}
.m--3 {
  margin: -$pad-3;
}
.m-4 {
  margin: $pad-4;
}
.m--4 {
  margin: -$pad-4;
}
.m-1-2 {
  margin: $pad-1-2;
}
.m--1-2 {
  margin: -$pad-1-2;
}
.m-1-3 {
  margin: $pad-1-3;
}
.m--1-3 {
  margin: -$pad-1-3;
}
.m-1-4 {
  margin: $pad-1-4;
}
.m--1-4 {
  margin: -$pad-1-4;
}

.mr {
  margin-right: $pad;
}
.mr--1 {
  margin-right: -$pad;
}
.mr-2 {
  margin-right: $pad-2;
}
.mr--2 {
  margin-right: -$pad-2;
}
.mr-3 {
  margin-right: $pad-3;
}
.mr--3 {
  margin-right: -$pad-3;
}
.mr-4 {
  margin-right: $pad-4;
}
.mr--4 {
  margin-right: -$pad-4;
}
.mr-1-2 {
  margin-right: $pad-1-2;
}
.mr--1-2 {
  margin-right: -$pad-1-2;
}
.mr-1-3 {
  margin-right: $pad-1-3;
}
.mr--1-3 {
  margin-right: -$pad-1-3;
}
.mr-1-4 {
  margin-right: $pad-1-4;
}
.mr--1-4 {
  margin-right: -$pad-1-4;
}

.mt {
  margin-top: $pad;
}
.mt--1 {
  margin-top: -$pad;
}
.mt-2 {
  margin-top: $pad-2;
}
.mt--2 {
  margin-top: -$pad-2;
}
.mt-3 {
  margin-top: $pad-3;
}
.mt--3 {
  margin-top: -$pad-3;
}
.mt-4 {
  margin-top: $pad-4;
}
.mt--4 {
  margin-top: -$pad-4;
}
.mt-1-2 {
  margin-top: $pad-1-2;
}
.mt--1-2 {
  margin-top: -$pad-1-2;
}
.mt-1-3 {
  margin-top: $pad-1-3;
}
.mt--1-3 {
  margin-top: -$pad-1-3;
}
.mt-1-4 {
  margin-top: $pad-1-4;
}
.mt--1-4 {
  margin-top: -$pad-1-4;
}

.ml {
  margin-left: $pad;
}
.ml--1 {
  margin-left: -$pad;
}
.ml-2 {
  margin-left: $pad-2;
}
.ml--2 {
  margin-left: -$pad-2;
}
.ml-3 {
  margin-left: $pad-3;
}
.ml--3 {
  margin-left: -$pad-3;
}
.ml-4 {
  margin-left: $pad-4;
}
.ml--4 {
  margin-left: -$pad-4;
}
.ml-1-2 {
  margin-left: $pad-1-2;
}
.ml--1-2 {
  margin-left: -$pad-1-2;
}
.ml-1-3 {
  margin-left: $pad-1-3;
}
.ml--1-3 {
  margin-left: -$pad-1-3;
}
.ml-1-4 {
  margin-left: $pad-1-4;
}
.ml--1-4 {
  margin-left: -$pad-1-4;
}

.mb {
  margin-bottom: $pad;
}
.mb--1 {
  margin-bottom: -$pad;
}
.mb-2 {
  margin-bottom: $pad-2;
}
.mb--2 {
  margin-bottom: -$pad-2;
}
.mb-3 {
  margin-bottom: $pad-3;
}
.mb--3 {
  margin-bottom: -$pad-3;
}
.mb-4 {
  margin-bottom: $pad-4;
}
.mb--4 {
  margin-bottom: -$pad-4;
}
.mb-1-2 {
  margin-bottom: $pad-1-2;
}
.mb--1-2 {
  margin-bottom: -$pad-1-2;
}
.mb-1-3 {
  margin-bottom: $pad-1-3;
}
.mb--1-3 {
  margin-bottom: -$pad-1-3;
}
.mb-1-4 {
  margin-bottom: $pad-1-4;
}
.mb--1-4 {
  margin-bottom: -$pad-1-4;
}

.mh {
  margin-left: $pad;
  margin-right: $pad;
}
.mh--1 {
  margin-left: -$pad;
  margin-right: -$pad;
}
.mh-2 {
  margin-left: $pad-2;
  margin-right: $pad-2;
}
.mh--2 {
  margin-left: -$pad-2;
  margin-right: -$pad-2;
}
.mh-3 {
  margin-left: $pad-3;
  margin-right: $pad-3;
}
.mh--3 {
  margin-left: -$pad-3;
  margin-right: -$pad-3;
}
.mh-4 {
  margin-left: $pad-4;
  margin-right: $pad-4;
}
.mh--4 {
  margin-left: -$pad-4;
  margin-right: -$pad-4;
}
.mh-1-2 {
  margin-left: $pad-1-2;
  margin-right: $pad-1-2;
}
.mh--1-2 {
  margin-left: -$pad-1-2;
  margin-right: -$pad-1-2;
}
.mh-1-3 {
  margin-left: $pad-1-3;
  margin-right: $pad-1-3;
}
.mh--1-3 {
  margin-left: -$pad-1-3;
  margin-right: -$pad-1-3;
}
.mh-1-4 {
  margin-left: $pad-1-4;
  margin-right: $pad-1-4;
}
.mh--1-4 {
  margin-left: -$pad-1-4;
  margin-right: -$pad-1-4;
}

.mv {
  margin-top: $pad;
  margin-bottom: $pad;
}
.mv--1 {
  margin-top: $pad;
  margin-bottom: $pad;
}
.mv-2 {
  margin-top: $pad-2;
  margin-bottom: $pad-2;
}
.mv--2 {
  margin-top: -$pad-2;
  margin-bottom: -$pad-2;
}
.mv-3 {
  margin-top: $pad-3;
  margin-bottom: $pad-3;
}
.mv--3 {
  margin-top: -$pad-3;
  margin-bottom: -$pad-3;
}
.mv-4 {
  margin-top: $pad-4;
  margin-bottom: $pad-4;
}
.mv--4 {
  margin-top: -$pad-4;
  margin-bottom: -$pad-4;
}
.mv-1-2 {
  margin-top: $pad-1-2;
  margin-bottom: $pad-1-2;
}
.mv--1-2 {
  margin-top: -$pad-1-2;
  margin-bottom: -$pad-1-2;
}
.mv-1-3 {
  margin-top: $pad-1-3;
  margin-bottom: $pad-1-3;
}
.mv--1-3 {
  margin-top: -$pad-1-3;
  margin-bottom: -$pad-1-3;
}
.mv-1-4 {
  margin-top: $pad-1-4;
  margin-bottom: $pad-1-4;
}
.mv--1-4 {
  margin-top: -$pad-1-4;
  margin-bottom: -$pad-1-4;
}

.p {
  padding: $pad;
}
.p--1 {
  padding: $pad;
}
.p-2 {
  padding: $pad-2;
}
.p--2 {
  padding: -$pad-2;
}
.p-3 {
  padding: $pad-3;
}
.p--3 {
  padding: -$pad-3;
}
.p-4 {
  padding: $pad-4;
}
.p--4 {
  padding: -$pad-4;
}
.p-1-2 {
  padding: $pad-1-2;
}
.p--1-2 {
  padding: -$pad-1-2;
}
.p-1-3 {
  padding: $pad-1-3;
}
.p--1-3 {
  padding: -$pad-1-3;
}
.p-1-4 {
  padding: $pad-1-4;
}
.p--1-4 {
  padding: -$pad-1-4;
}

.pr {
  padding-right: $pad;
}
.pr--1 {
  padding-right: $pad;
}
.pr-2 {
  padding-right: $pad-2;
}
.pr--2 {
  padding-right: -$pad-2;
}
.pr-3 {
  padding-right: $pad-3;
}
.pr--3 {
  padding-right: -$pad-3;
}
.pr-4 {
  padding-right: $pad-4;
}
.pr--4 {
  padding-right: -$pad-4;
}
.pr-1-2 {
  padding-right: $pad-1-2;
}
.pr--1-2 {
  padding-right: -$pad-1-2;
}
.pr-1-3 {
  padding-right: $pad-1-3;
}
.pr--1-3 {
  padding-right: -$pad-1-3;
}
.pr-1-4 {
  padding-right: $pad-1-4;
}
.pr--1-4 {
  padding-right: -$pad-1-4;
}

.pt {
  padding-top: $pad;
}
.pt--1 {
  padding-top: $pad;
}
.pt-2 {
  padding-top: $pad-2;
}
.pt--2 {
  padding-top: -$pad-2;
}
.pt-3 {
  padding-top: $pad-3;
}
.pt--3 {
  padding-top: -$pad-3;
}
.pt-4 {
  padding-top: $pad-4;
}
.pt--4 {
  padding-top: -$pad-4;
}
.pt-1-2 {
  padding-top: $pad-1-2;
}
.pt--1-2 {
  padding-top: -$pad-1-2;
}
.pt-1-3 {
  padding-top: $pad-1-3;
}
.pt--1-3 {
  padding-top: -$pad-1-3;
}
.pt-1-4 {
  padding-top: $pad-1-4;
}
.pt--1-4 {
  padding-top: -$pad-1-4;
}

.pl {
  padding-left: $pad;
}
.pl--1 {
  padding-left: $pad;
}
.pl-2 {
  padding-left: $pad-2;
}
.pl--2 {
  padding-left: -$pad-2;
}
.pl-3 {
  padding-left: $pad-3;
}
.pl--3 {
  padding-left: -$pad-3;
}
.pl-4 {
  padding-left: $pad-4;
}
.pl--4 {
  padding-left: -$pad-4;
}
.pl-1-2 {
  padding-left: $pad-1-2;
}
.pl--1-2 {
  padding-left: -$pad-1-2;
}
.pl-1-3 {
  padding-left: $pad-1-3;
}
.pl--1-3 {
  padding-left: -$pad-1-3;
}
.pl-1-4 {
  padding-left: $pad-1-4;
}
.pl--1-4 {
  padding-left: -$pad-1-4;
}

.pb {
  padding-bottom: $pad;
}
.pb--1 {
  padding-bottom: $pad;
}
.pb-2 {
  padding-bottom: $pad-2;
}
.pb--2 {
  padding-bottom: -$pad-2;
}
.pb-3 {
  padding-bottom: $pad-3;
}
.pb--3 {
  padding-bottom: -$pad-3;
}
.pb-4 {
  padding-bottom: $pad-4;
}
.pb--4 {
  padding-bottom: -$pad-4;
}
.pb-1-2 {
  padding-bottom: $pad-1-2;
}
.pb--1-2 {
  padding-bottom: -$pad-1-2;
}
.pb-1-3 {
  padding-bottom: $pad-1-3;
}
.pb--1-3 {
  padding-bottom: -$pad-1-3;
}
.pb-1-4 {
  padding-bottom: $pad-1-4;
}
.pb--1-4 {
  padding-bottom: -$pad-1-4;
}

.ph {
  padding-left: $pad;
  padding-right: $pad;
}
.ph--1 {
  padding-left: $pad;
  padding-right: $pad;
}
.ph-2 {
  padding-left: $pad-2;
  padding-right: $pad-2;
}
.ph--2 {
  padding-left: -$pad-2;
  padding-right: -$pad-2;
}
.ph-3 {
  padding-left: $pad-3;
  padding-right: $pad-3;
}
.ph--3 {
  padding-left: -$pad-3;
  padding-right: -$pad-3;
}
.ph-4 {
  padding-left: $pad-4;
  padding-right: $pad-4;
}
.ph--4 {
  padding-left: -$pad-4;
  padding-right: -$pad-4;
}
.ph-1-2 {
  padding-left: $pad-1-2;
  padding-right: $pad-1-2;
}
.ph--1-2 {
  padding-left: -$pad-1-2;
  padding-right: -$pad-1-2;
}
.ph-1-3 {
  padding-left: $pad-1-3;
  padding-right: $pad-1-3;
}
.ph--1-3 {
  padding-left: -$pad-1-3;
  padding-right: -$pad-1-3;
}
.ph-1-4 {
  padding-left: $pad-1-4;
  padding-right: $pad-1-4;
}
.ph--1-4 {
  padding-left: -$pad-1-4;
  padding-right: -$pad-1-4;
}

.pv {
  padding-top: $pad;
  padding-bottom: $pad;
}
.pv--1 {
  padding-top: $pad;
  padding-bottom: $pad;
}
.pv-2 {
  padding-top: $pad-2;
  padding-bottom: $pad-2;
}
.pv--2 {
  padding-top: -$pad-2;
  padding-bottom: -$pad-2;
}
.pv-3 {
  padding-top: $pad-3;
  padding-bottom: $pad-3;
}
.pv--3 {
  padding-top: -$pad-3;
  padding-bottom: -$pad-3;
}
.pv-4 {
  padding-top: $pad-4;
  padding-bottom: $pad-4;
}
.pv--4 {
  padding-top: -$pad-4;
  padding-bottom: -$pad-4;
}
.pv-1-2 {
  padding-top: $pad-1-2;
  padding-bottom: $pad-1-2;
}
.pv--1-2 {
  padding-top: -$pad-1-2;
  padding-bottom: -$pad-1-2;
}
.pv-1-3 {
  padding-top: $pad-1-3;
  padding-bottom: $pad-1-3;
}
.pv--1-3 {
  padding-top: -$pad-1-3;
  padding-bottom: -$pad-1-3;
}
.pv-1-4 {
  padding-top: $pad-1-4;
  padding-bottom: $pad-1-4;
}
.pv--1-4 {
  padding-top: -$pad-1-4;
  padding-bottom: -$pad-1-4;
}
