@import '../../../theme/common';

.clickTarget {
  padding: $pad-1-4;
  margin: -$pad-1-4;

  cursor: pointer;
  &:hover > ._icon {
    background-color: $col-panel-contrast-a70;
  }

  > ._icon {
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    font-weight: $font-weight-extrabold;
    font-family: $font-content;
    display: inline-block;
    line-height: 1rem;
    text-align: center;
    @include theme-light {
      background-color: $col-panel-contrast-a50;
      color: $col-light;
    }
    @include theme-dark {
      background-color: transparentize($col-light, 0.5);
    }
    border-radius: 50%;
  }
}

.tooltip {
  text-transform: none;
}
